*,
*::before,
*::after {
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    box-sizing: border-box;
    font-family: 'dank mono';
    font-size: 1.6rem;
    font-style: italic;
    height: 100%;
    width: 100%;
    background-color: #634b9b;
    opacity: .7;
}

code {
    font-family: monospace;
    font-size: 1.3rem;
    font-style: none;
}

a,
a::before,
a::after,
a:visited {
    font-style: none;
    color: #c5eb5c
}

a:hover {
    color: #333
}

header {
    margin:auto;
    width: 50%;
    padding: 5px;
}

.header-image{
    margin-right: auto;
    margin-left: auto;
    display: block;
}
.greeting {
    display: flex;
    /* align-items: center;
    justify-content: center; */
    margin: 20px 35%;

    color: #111;
}

.text-lower {
    border: 2px solid #c5eb5c;
    border-radius: 20px;
    padding: 10px;
    background-color: #8971c0;
}

ul {
    list-style: none;
}
li {
    text-decoration: none;
}